.address {
  display: inline-flex;

  &::before {
    content: "";
    display: inline-block;
    height: 19px;
    width: 13.03px;
    background: url(../../img/icons/metka.svg) center no-repeat;
    margin-right: 5px;
  }

  &__city {
    color: #364844;
    line-height: 21px;
  }

  &__street {
    color: #868686;
  }

  &-mobile {
    display: none;
    margin-left: auto;
    flex-direction: column;
    text-align: right;

    &::before {
      display: none;
    }

    .phone {
      &__number {
        font-weight: 700;
        font-size: 16px;

        &::before {
          display: none;
        }
      }
    }

    .address {
      &__city {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .address--desctop {
    display: none;
  }

  .address-mobile {
    display: flex;
  }
}
