.socials {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .socials {
    &__icon {
      width: 23px;
      height: 23px;
    }

    &__item {
      margin-right: 20px;
    }
  }
}
